<%= form_tag({controller:"posts",action:"create"}, method: :post) do %>
あてはまらない　どちらかというとあてはまる　どちらでもない　どちらかというとあてはまる　あてはまる<br>
<p>束縛が激しい</p>
    <%= radio_button_tag("q1","-2") %>
    <%= label_tag("q1_veryunlikely","")%>
    <%= radio_button_tag("q1","-1") %>
    <%= label_tag("q1_unlikely","")%>
    <%= radio_button_tag("q1","0") %>
    <%= label_tag("q1_nomal","")%>
    <%= radio_button_tag("q1","2") %>
    <%= label_tag("q1_likely","")%>
    <%= radio_button_tag("q1","3") %>
    <%= label_tag("q1_verylikely","")%>
<br>
<P>ありがとう、ごめんを言わない時がある</P>
    <%= radio_button_tag("q2","-2") %>
    <%= label_tag("q1_veryunlikely","")%>
    <%= radio_button_tag("q2","-1") %>
    <%= label_tag("q1_unlikely","")%>
    <%= radio_button_tag("q2","0") %>
    <%= label_tag("q1_nomal","")%>
    <%= radio_button_tag("q2","2") %>
    <%= label_tag("q1_likely","")%>
    <%= radio_button_tag("q2","3") %>
    <%= label_tag("q1_verylikely","")%>
<br>
<P>お前呼びする</P>
    <%= radio_button_tag("q3","-2") %>
    <%= label_tag("q1_veryunlikely","")%>
    <%= radio_button_tag("q3","-1") %>
    <%= label_tag("q1_unlikely","")%>
    <%= radio_button_tag("q3","0") %>
    <%= label_tag("q1_nomal","")%>
    <%= radio_button_tag("q3","2") %>
    <%= label_tag("q1_likely","")%>
    <%= radio_button_tag("q3","3") %>
    <%= label_tag("q1_verylikely","")%>
<br>
<p>〇〇のためにやってあげている、と言う</p>
    <%= radio_button_tag("q4","-2") %>
    <%= label_tag("q1_veryunlikely","")%>
    <%= radio_button_tag("q4","-1") %>
    <%= label_tag("q1_unlikely","")%>
    <%= radio_button_tag("q4","0") %>
    <%= label_tag("q1_nomal","")%>
    <%= radio_button_tag("q4","2") %>
    <%= label_tag("q1_likely","")%>
    <%= radio_button_tag("q4","3") %>
    <%= label_tag("q1_verylikely","")%>
<br>
<P>自分には〇〇しかいない、と言う</P>
    <%= radio_button_tag("q5","-2") %>
    <%= label_tag("q1_veryunlikely","")%>
    <%= radio_button_tag("q5","-1") %>
    <%= label_tag("q1_unlikely","")%>
    <%= radio_button_tag("q5","0") %>
    <%= label_tag("q1_nomal","")%>
    <%= radio_button_tag("q5","2") %>
    <%= label_tag("q1_likely","")%>
    <%= radio_button_tag("q5","3") %>
    <%= label_tag("q1_verylikely","")%>
<br>
<P>普通は～、元カノは～、などの言葉を使う</P>
    <%= radio_button_tag("q6","-2") %>
    <%= label_tag("q1_veryunlikely","")%>
    <%= radio_button_tag("q6","-1") %>
    <%= label_tag("q1_unlikely","")%>
    <%= radio_button_tag("q6","0") %>
    <%= label_tag("q1_nomal","")%>
    <%= radio_button_tag("q6","2") %>
    <%= label_tag("q1_likely","")%>
    <%= radio_button_tag("q6","3") %>
    <%= label_tag("q1_verylikely","")%>
<br>
<P>付き合っていないのにスキンシップがある</P>
    <%= radio_button_tag("q7","-2") %>
    <%= label_tag("q1_veryunlikely","")%>
    <%= radio_button_tag("q7","-1") %>
    <%= label_tag("q1_unlikely","")%>
    <%= radio_button_tag("q7","0") %>
    <%= label_tag("q1_nomal","")%>
    <%= radio_button_tag("q7","2") %>
    <%= label_tag("q1_likely","")%>
    <%= radio_button_tag("q7","3") %>
    <%= label_tag("q1_verylikely","")%>
<br>
    <%= submit_tag '診断結果' %>
<br>
<% end %>